.card-pedido {
  max-width: 800px;
}

.card-item {
  max-width: 500px;
}

.example-card {
  max-width: 200px;
  margin: 10px;
}

.center-content {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}
