<mat-toolbar>
  <span (click)="onClickInfo()">ADMIN</span>

  <span class="example-spacer"></span>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="store" routerLink="store">Tienda</mat-button-toggle>
    <mat-button-toggle value="bodegas" routerLink="bodegas">Bodegas</mat-button-toggle>
    <mat-button-toggle value="compras" routerLink="compras">Compras</mat-button-toggle>
    <mat-button-toggle value="logout" (click)="logout()">Cerrar Sesión</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<router-outlet></router-outlet>
